<h1>ASSIGNMENT 7</h1>

<h2>GET:</h2>
<form action="get-loopback" method="GET">
	<input type="text" name="Name"></input> 
	<input type="text" name="Field1" value="get value 1"></input> 
	<input type="text" name="Field2" value="get value 2"></input> 
	<input type="text" name="Field3" value="get value 3"></input> 
	<button type="submit">Submit</button>
</form>

<h2>POST:</h2>
<form action="post-loopback" method="POST">
	<input type="text" name="Name"></input> 
	<input type="text" name="Field1" value="post value 1"></input> 
	<input type="text" name="Field2" value="post value 2"></input> 
	<input type="text" name="Field3" value="post value 3"></input> 
	<button type="submit">Submit</button>
</form>